@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    @model ItemDetailViewModel;
    var user = await UserManager.GetUserAsync(User);
}

@section CSS {
    <link rel="stylesheet" type="text/css" href="~/css/detailpage.css" />
}

<div class="title-block">
    <h1 class="title-block__title">@Model.product.ProductTitle</h1>
    <div class="title-block__description-row">
        <p class="title-block__description">By @Model.user.UserName</p>
        <p class="title-block__description-sales"><i class="fa fa-1 fa-shopping-cart"></i><b>@Model.product.NumberOfSales</b> sales</p>
    </div>
    @if (Model.WishLists.Count() == 0)
    {
        <form asp-controller="ItemDetail" asp-action="AddToWishlist" asp-route-id=@Model.product.ProductID method="post"><button class="heart-like-button" type="submit"></button></form>
    }
    else
    {
        @if (user != null && Model.Sales.Any(s => s.UserID == user.Id && s.ProductID == Model.product.ProductID))
        {
            <div class="empty-block"></div>
        }
        else
        {
            if (user != null && Model.product.UserID == user.Id)
            {
                <div class="empty-block"></div>
            }
            else
            {
                if (Model.WishLists[0].Products.Exists(p => p.ProductID == Model.product.ProductID))
                {
                    <form asp-controller="ItemDetail" asp-action="AddToWishlist" asp-route-id=@Model.product.ProductID method="post"><button class="heart-like-button liked" type="submit"></button></form>
                }
                else
                {
                    <form asp-controller="ItemDetail" asp-action="AddToWishlist" asp-route-id=@Model.product.ProductID method="post"><button class="heart-like-button" type="submit"></button></form>
                }
            }
        }
    }
    <div class="detail-row">
        <a class="sort-button-active" href="">Item details</a>
        <a class="sort-button left-width-0" asp-action="Index" asp-controller="Review" asp-route-id=@Model.product.ProductID>Reviews</a>
    </div>
</div>
<div class="main-content">
    <div class="content-row">
        <div class="image-block">
            <img class="detail-image" src=@Url.Content(Model.product.ProductImage) />
        </div>
        <div class="price-container">
            <div class="price-container__creator-row">
                <img class="creator-image" src=@Url.Content(Model.user.Avatar) />
                <div class="user-details-col">
                    <p class="creator-name"><b>@Model.user.UserName</b></p>
                    <p class="user-details-col__info">
                        Name: <span class="inter-text-12px">@Model.user.Name</span>
                    </p>
                    <p class="user-details-col__info">
                        Last name: <span class="inter-text-12px">@Model.user.LastName</span>
                    </p>
                    <p class="user-details-col__info">
                        Email: <span class="inter-text-12px">@Model.user.Email</span>
                    </p>
                    <p class="user-details-col__info">
                        Birth date: <span class="inter-text-12px">@Model.user.Date_of_birth.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("en-US"))</span>
                    </p>
                </div>
            </div>
            <div class="rect"></div>
            <p class="price">@Model.product.Price$</p>
            @if (Model.product.Is_Deleted)
            {
                <p class="unavailable-text">Product unavailable at this moment</p>
            }
            else
            {
                @if (user != null && Model.Sales.Any(s => s.UserID == user.Id && s.ProductID == Model.product.ProductID))
                {
                    <p class="unavailable-text">You already buy this product</p>
                }
                else
                {
                    if (user != null && Model.product.UserID == user.Id)
                    {
                        <p class="unavailable-text">You are selling this product</p>
                    }
                    else
                    {
                        <form class="buy-form" asp-controller="ItemDetail" asp-action="Buy"><button type="submit" name="id" value=@Model.product.ProductID class="button-hover-addcart button"><span>Buy</span><i class="fa fa-shopping-cart"></i></button></form>
                    }
                }
            }
        </div>
    </div>
    <div class="content-row">
        <p class="desc-container">
            @Model.product.Description
        </p>
        <div class="characteristics-container">
            <p class="group-table__info">
                Published: <span class="inter-text-20px">@Model.product.CreateDate.ToString("dd MMM yyyy", new System.Globalization.CultureInfo("en-US"))</span>
            </p>
            <p class="group-table__info">
                Files included: <span class="inter-text-20px">@ViewData["FileTypes"]</span>
            </p>
            <p class="group-table__info">
                Software version: <span class="inter-text-20px">@Model.product.SoftwareVersion</span>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/sort-buttons-detail.js"></script>
    <script src="~/js/heart.js"></script>
}
